body{
    .nav-div{
        display: flex;

        nav{
            display: flex;
            width: 1366px;
            height: 65px;
            background-color: black;
            align-items: center;
            justify-content: center;

            ul{
                display: flex;
                padding-top: 10px;

                li {
                    font-family: 'Poppins', sans-serif;
                    flex-direction: row;
                    margin-right: 15px;
                    font-size: 19px;
                    font-weight: 500;

                    a{
                        color: white;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .intro-section{
        height: 561px;
    }

    .aboutme-section {
        border: red solid 2px;
        height: 561px;
        width: 1366px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;


        h2 {
            font-weight: 700;
            font-size: 40px;
            height: 45px;
            position: absolute;
            margin-top: 20px;
            width: 200px;
            left: 550px;
        }


        .about-info{
            font-family: 'Poppins', sans-serif;
            margin-top: 100px;
            margin-right: 125px;
            margin: 100px 125px 0px 100px;
            height: 350px;
            width: 1500px;

            p{
                line-height: 25px;
                font-size: 14px;
            }
        }

        .profile-pic{
            height: 555px;
            width: 580px;
            margin-right: 230px;

            .image{
                width: 300px;
                height: 350px;
                margin-top: 100px;
                margin-left: 50px;
                border: orange solid 2px;
            }
        }
    }

    .services-section{
        border: green solid 2px;
        height: 561px;
        width: 1366px;
        text-align: center;

        h2{
            border: red solid 2px;
            font-size: 15px;
            font-weight: 700;
            margin: 50px 0px 30px 0px;
        }

    }
}