body{
    .nav-div{
        display: flex;

        nav{
            display: flex;
            width: 1366px;
            height: 65px;
            background-color: black;
            align-items: center;
            justify-content: center;

            ul{
                display: flex;
                padding-top: 10px;

                li {
                    font-family: 'Poppins', sans-serif;
                    flex-direction: row;
                    margin-right: 15px;
                    font-size: 19px;
                    font-weight: 500;

                    a{
                        color: white;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .intro-section{
        border: red solid 2px;
        height: 561px;
    }
}